<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="node_start_delay" default="2.0" />  
  <rosparam ns="lazy_mapping_moveit" command="load" file="$(find lazy_mapping_moveit)/config/setup.yaml" />
  <node name="ar_detector_node" pkg="lazy_mapping_moveit" type="ar_detector_node" respawn="false" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />
  <node name="obstacles_to_moveit" pkg="lazy_mapping_moveit" type="obstacles_to_moveit" respawn="false" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
</launch>
